section.about 
   img.about__bg.about__bg-blum(src=require("../../images/bg/about-blum.svg"), alt='Цветок')
   svg.about__svg-top(width="100%" viewBox="0 0 1440 40" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M1440 0H0V4.39953C139.907 2.14754 194.813 11.0325 244.887 19.1358C324.197 31.9701 391.388 42.8433 765 4.39953C884.19 -7.86476 1020.52 7.93026 1143.74 22.2068C1264.63 36.2126 1372.9 48.7571 1440 31.9131V0Z" fill="#FFFCEA")
   .about__container 
      h2.about__title О нашей пасеке
      .about__content 
         .about__description 
            p.about__text За последние 10 лет я постигал себя искусство пчеловодства, начиная с небольшого числа ульев и постепенно расширяя свою пасеку.
            p.about__text Сегодня мои продукты доступны для приобретения в Самаре и Тольятти.
            p.about__text Каждый шаг в производстве меда отражает мою страсть и приверженность качеству.
            p.about__text С особым вниманием к деталям и стремлением к совершенству, я собрал богатый опыт и знания, чтобы предложить вам только самый высококачественный мёд, дарящий истинное удовольствие на вашем столе.
         .about__image-wrapper 
            img.about__image(src=require("../../images/img/about.png"), alt='Натуральный продукт')
   svg.about__svg-bottom(width="100%" viewBox="0 0 1440 40" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(fill-rule="evenodd" clip-rule="evenodd" d="M393.533 40C539.049 39.9837 669.497 28.7704 752.5 16.5154C1004.99 -20.7637 1261.05 14.4999 1376.56 30.4063C1416.82 35.9508 1440 39.1433 1440 36.0919V40H393.533ZM392.897 40C266.194 39.9858 128.11 31.4764 0 7.77421V40H392.897Z" fill="#FFFCEA")

