footer.footer
   svg.footer__svg-top(width="1440" viewBox="0 0 1440 51" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(fill-rule="evenodd" clip-rule="evenodd" d="M1440 0H0V39.9256C14.5248 35.8393 27.4922 32.1552 39.1435 28.845C138.973 0.482681 142.181 -0.428963 200.513 8.41438C224.028 11.9794 245.193 19.6491 266.783 27.4725C311.285 43.5987 357.59 60.3784 430 43.2107C450.981 38.2364 471.087 32.7777 490.659 27.4643C576.699 4.1054 652.391 -16.4438 746.5 19.328C839.205 54.5658 1020.72 28.7799 1115.91 15.2565C1141.89 11.5665 1161.44 8.78946 1171 8.41418C1179.03 8.09889 1189.38 7.50694 1201.37 6.82129C1269.18 2.94161 1389.44 -3.93815 1440 19.3281V0Z")
   .footer__container
      .footer__branding
         a.footer__logo.logo(href='index.html') Мёд <br>Платона
            img.logo__image(src=require("../../images/icons/logo-platon.svg"), alt='Логотип Мед Платона')
         p.footer__copy © Мёд Платона 2023
      .footer__disclaimer
         p.footer__disclaimer-text Информация на сайте не является публичной офертой 
         a.footer__disclaimer-link(href='privacy.html') Политика конфиденциальности
         .footer__credits
            span.footer__credits-text Сайт разработан: 
               a.footer__credits-link(href='https://webperspective.ru') WebPerspective.ru
      .footer__contacts
         a.footer__phone(href='tel:+79171673362') +7 (917) 167 33 62
         a.footer__mail(href='mailto: pniкonoff@gmail.com') pniкonoff@gmail.com
         .footer__socials
            a.footer__social-link(href="https://vk.com/honeyplaton" target="_blank") 
               img.contacts__icon(src=require("../../images/icons/contacts/contacts-vk.svg"), alt='vkontakte')
            a.footer__social-link(href="https://t.me/79171673362" target="_blank") 
               img.contacts__icon(src=require("../../images/icons/contacts/contacts-telegram.svg"), alt='telegram')
            a.footer__social-link(href="https://wa.me/79171673362" target="_blank") 
               img.contacts__icon(src=require("../../images/icons/contacts/contacts-whatsap.svg"), alt='whatsap')
