footer.footer
   svg.footer__svg-top(width="1440" viewBox="0 0 1440 51" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(fill-rule="evenodd" clip-rule="evenodd" d="M1440 0H0V39.9256C14.5248 35.8393 27.4922 32.1552 39.1435 28.845C138.973 0.482681 142.181 -0.428963 200.513 8.41438C224.028 11.9794 245.193 19.6491 266.783 27.4725C311.285 43.5987 357.59 60.3784 430 43.2107C450.981 38.2364 471.087 32.7777 490.659 27.4643C576.699 4.1054 652.391 -16.4438 746.5 19.328C839.205 54.5658 1020.72 28.7799 1115.91 15.2565C1141.89 11.5665 1161.44 8.78946 1171 8.41418C1179.03 8.09889 1189.38 7.50694 1201.37 6.82129C1269.18 2.94161 1389.44 -3.93815 1440 19.3281V0Z")
   .footer__container
      .footer__branding
         a.footer__logo.logo(href='index.html') 
            svg.footer__logo-svg(width="63" height="54" viewBox="0 0 63 54" fill="none" xmlns="http://www.w3.org/2000/svg") 
               path( d="M24.463 2.9459C26.538 3.2989 28.379 5.5959 28.631 8.1299L28.728 9.1699L27.856 9.7989C25.433 11.5859 25.239 15.0999 27.449 17.0839C28.902 18.3799 30.705 18.6349 32.469 17.7909C35.629 16.3179 36.017 11.8609 33.148 9.8579C32.469 9.3859 32.392 9.2289 32.372 8.5219C32.372 7.0889 32.876 5.7919 33.962 4.6149C35.086 3.3579 35.454 3.1219 36.54 2.9249L37.315 2.8079L36.618 2.7679C35.687 2.7489 34.117 3.5739 33.245 4.5559C32.392 5.4979 31.655 7.0299 31.481 8.2079L31.364 9.0519L30.454 8.9939L29.561 8.9339L29.426 8.0119C29.076 5.3999 26.441 2.7099 24.308 2.7689L23.552 2.7889L24.463 2.9459ZM48.752 12.7639C45.902 13.0579 42.317 14.1969 39.932 15.5719C38.944 16.1419 36.831 17.6329 36.831 17.7909C36.831 17.8109 37.548 17.4569 38.44 17.0049C40.436 15.9249 42.588 15.2179 44.972 14.8249C47.279 14.4519 48.792 14.4519 50.691 14.8249C55.091 15.6699 57.068 18.3209 55.673 21.4819L55.246 22.4439L54.316 22.3269C53.812 22.2479 52.706 22.1499 51.854 22.1099C50.245 21.9929 50.439 22.1499 52.435 22.5429C52.978 22.6599 53.676 22.8569 53.986 22.9739L54.568 23.2099L53.385 24.3099C51.99 25.6249 49.819 26.8429 47.395 27.6679C45.302 28.3939 45.922 28.4729 48.5 27.8049C51.408 27.0589 54.064 25.8809 55.789 24.5849L56.448 24.1129L57.204 24.8599C58.076 25.7239 58.464 26.7449 58.27 27.7269C57.727 30.6329 51.854 32.3999 46.95 31.1039C45.515 30.7309 45.476 30.8679 46.853 31.3979C52.203 33.4009 59.278 32.2229 60.887 29.0419C61.817 27.1569 60.907 25.1929 58.406 23.7209L57.592 23.2489L58.386 22.2679C61.1 18.9679 60.577 15.6699 57.03 13.8629C55.11 12.8809 51.796 12.4489 48.752 12.7629V12.7639ZM9.15004 13.1759C6.70704 13.4119 4.75004 14.1379 3.39204 15.3559C1.29904 17.2009 1.43404 20.0489 3.70204 22.7979L4.47804 23.7399L3.79904 24.0549C2.88904 24.4869 1.41504 25.8219 1.06604 26.5289C0.698039 27.2359 0.698039 28.7289 1.06604 29.4349C1.78304 30.8489 4.11004 32.1649 6.70704 32.6159C8.76204 32.9689 12.348 32.7539 14.247 32.1259C15.76 31.6339 16.981 31.0259 15.895 31.3199C15.624 31.3789 14.597 31.5949 13.589 31.7719C12.057 32.0269 11.495 32.0469 9.96404 31.8499C4.42004 31.1429 1.99704 27.9819 4.88404 25.1929L5.52404 24.5649L6.39704 25.1549C8.31604 26.4699 11.03 27.6479 13.667 28.2959C15.643 28.7669 16.574 28.7869 15.12 28.2959C12.426 27.4119 9.98304 26.0579 8.23804 24.4859C7.71504 24.0159 7.52104 23.7209 7.65704 23.5829C7.92804 23.3079 10.002 22.7779 10.855 22.7779C11.398 22.7579 11.475 22.7189 11.205 22.5819C10.895 22.3849 7.54104 22.6409 7.15304 22.8759C6.90104 23.0529 6.22304 21.8949 6.00904 20.9129C5.42804 18.2819 7.24904 16.1799 10.855 15.2969C12.155 14.9829 15.973 14.9629 17.543 15.2769C19.346 15.6499 21.769 16.4749 23.417 17.2999L24.909 18.0459L24.134 17.3779C23.707 17.0049 22.622 16.3179 21.711 15.8269C17.795 13.7649 13.298 12.8029 9.15004 13.1769V13.1759ZM29.891 23.5639C28.592 24.2899 26.576 25.9399 25.781 26.9209L25.181 27.6869H36.462L36.094 27.1369C35.319 26.0769 33.419 24.4669 31.791 23.5049L30.919 22.9949L29.891 23.5639ZM23.707 30.0829C23.63 30.2199 23.358 30.7699 23.126 31.3199L22.719 32.3019L30.763 32.3609C35.203 32.3809 38.866 32.3609 38.905 32.3209C38.963 32.2629 38.769 31.6929 38.478 31.0449L37.936 29.8469H30.899C25.491 29.8469 23.824 29.9069 23.707 30.0829ZM22.099 35.3259C22.0923 35.7861 22.0532 36.2452 21.982 36.6999L21.866 37.3099H39.739V36.6609C39.739 36.3269 39.68 35.6989 39.622 35.2859L39.486 34.5599H22.1L22.099 35.3259ZM22.157 39.8029C22.215 39.9989 22.37 40.6279 22.487 41.1779L22.719 42.2179H38.944L39.254 41.1979C39.816 39.2729 40.727 39.4689 30.802 39.4689C22.583 39.4689 22.079 39.4889 22.157 39.8029ZM24.056 45.1049C24.308 45.5169 24.716 46.1449 24.967 46.4789L25.433 47.1269H36.366L37.18 45.8699C37.626 45.1829 37.994 44.5549 37.994 44.4959C37.994 44.4369 34.757 44.3779 30.802 44.3779H23.61L24.056 45.1049ZM28.398 49.9939C28.941 50.3869 29.717 50.8779 30.143 51.0939L30.938 51.4869L32.081 50.7799C32.721 50.4069 33.458 49.9159 33.729 49.6799L34.214 49.2869H27.429L28.398 49.9939Z" fill="#592B02")  
            p.logo-footer
               span.logo__letter-footer М
               span.logo__letter-footer ё
               span.logo__letter-footer д
               br
               span.logo__letter-footer П
               span.logo__letter-footer л
               span.logo__letter-footer а
               span.logo__letter-footer т
               span.logo__letter-footer о
               span.logo__letter-footer н
               span.logo__letter-footer а
         p.footer__copy © Мёд Платона 2023
      .footer__disclaimer
         p.footer__disclaimer-text Информация на сайте не является публичной офертой 
         a.footer__disclaimer-link(href='privacy.html') Политика конфиденциальности
         .footer__credits
            span.footer__credits-text Сайт разработан: 
               a.footer__credits-link(href='https://webperspective.ru' target="_blank") WebPerspective.ru
      .footer__contacts
         a.footer__phone(href='tel:+79171673362') +7 (917) 167 33 62
         a.footer__mail(href='mailto:pniкonoff@gmail.com') pniкonoff@gmail.com
         .footer__socials
            a.footer__social-link(href="https://vk.com/honeyplaton" target="_blank") 
               img.contacts__icon(src=require("../../images/icons/contacts/contacts-vk.svg"), alt='vkontakte')
            a.footer__social-link(href="https://t.me/+79171673362" target="_blank") 
               img.contacts__icon(src=require("../../images/icons/contacts/contacts-telegram.svg"), alt='telegram')
            a.footer__social-link(href="https://wa.me/79171673362" target="_blank") 
               img.contacts__icon(src=require("../../images/icons/contacts/contacts-whatsap.svg"), alt='whatsap')
