header
  .container
    // Логотип
    a.logo(href='/')
      img(src='path/to/logo.png', alt='Мед Платона')

    // Навигация
    nav
      ul.navigation
        li: a(href='#about') О нас
        li: a(href='#products') Продукция
        li: a(href='#contact') Контакты
        // Добавьте дополнительные пункты навигации по мере необходимости
