section.privacy.advantages 
   .privacy__container 
      .privacy__wrapper
         h1.privacy__title Соглашение на обработку персональных данных
         p.privacy__subtitle Настоящее пользовательское соглашение является публичной офертой (то есть предложением заключить соглашение). Нажимая клавиши, которые подразумевают под собой отправку нам своих контактных данных, вы считаетесь присоединившимся к нему.
         .privacy__content 
            p.privacy__text Внимание! По причинам экономического, организационного, а иногда и правового характера Соглашение периодически подвергается изменениям. У Администрации Сайта отсутствует возможность рассылать Пользователям уведомления о таких изменениях, поэтому настоятельно просим Вас периодически заходить на эту страницу, чтобы проверить, не появилось ли здесь чего-то, противоречащего Вашим убеждениям и принципам.
            p.privacy__text Если Вы как Пользователь не согласны с внесенными изменениями, у Вас всегда есть право отказаться от доступа к Сайту и прекратить использование его материалов. 
               | Если Вы считаете, что Соглашение или действия нас как Администрации Сайта нарушает Ваши права, не молчите, напишите нам об этом по электронному адресу: 
               span shop@honeyplaton.ru 
            ol.privacy__list-main 
               li.privacy__item-num Термины, применяемые в настоящем Соглашении:
                  ul.privacy__list-child 
                     li.privacy__item Сайт – это совокупность текстов, графических элементов, дизайна, изображений, программного кода, фото- и видеоматериалов и иных результатов интеллектуальной деятельности, содержащихся в сети Интернет под доменным именем https://honeyplaton.ru/
                     li.privacy__item Администрация Сайта – это лицо, обладающее правами администрирования Сайта.
                     li.privacy__item Пользователь – это любое лицо, осуществившее вход на Сайт и принявшее условия настоящего Соглашения, независимо от факта прохождения процедур регистрации и авторизации.
               li.privacy__item-num Использование персональных данных
                  ul.privacy__list-child 
                     li.privacy__item Принимая условия настоящего соглашения, Пользователь предоставляет Администрации Сайта согласие на обработку своих персональных данных.
                     li.privacy__item Цель обработки персональных данных: регистрация на Сайте, регистрация на мероприятия Сайта, рекламная цель, новостная e-mail рассылка.
                     li.privacy__item Обработке подлежат следующие персональные данные: 
                        ol.privacy__list-num 
                           li.privacy__item.num-privacy Фамилия, имя, отчество Пользователя; 
                           li.privacy__item.num-privacy Электронный адрес Пользователя; 
                           li.privacy__item.num-privacy Номер телефона Пользователя. 
                     li.privacy__item Под обработкой персональных данных подразумевается следующий перечень действий с персональными данными: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление доступа), обезличивание, блокирование, удаление, уничтожение персональных данных. 
                     li.privacy__item Принимая условия настоящего соглашения, Пользователь соглашается с получением рекламной рассылки по телефону (в формате sms-сообщений) и по электронной почте.
                     li.privacy__item Данное согласие на обработку персональных данных действует бессрочно, но может быть отозвано субъектом персональных данных на основании личного заявления, направленного по электронной почте Администрации Сайта.
                     li.privacy__item Администрация Сайта обязуется использовать персональные данные Пользователя, полученные в результате использования Сайта в соответствии с требованиями законодательства о защите персональных данных, в том числе федерального закона № 152-ФЗ от 27.07.2006 «О персональных данных» в редакции, действующей на момент обработки таких персональных данных.