section.promo
  .promo__container.container
    h1.promo__title Натуральный мёд
    p.promo__subtitle Из самого сердца Самарской области — собственное производство и особая забота о каждой банке нашего меда.
    a.promo__button.button(href='#order') Заказать
