doctype html
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Мёд Платона
      link(rel="shortcut icon" type="image/x-icon" href=require("../../images/icons/favicon.svg"))
   body 
      .wrapper__promo    
         include ../sections/header
         include ../sections/promo
      include ../sections/advantages
      include ../sections/products
      include ../sections/about
      include ../sections/delivery
      include ../sections/contacts
      include ../sections/footer