doctype html
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Политика конфиденциальности
      link(rel="shortcut icon" type="image/x-icon" href=require("../../images/icons/favicon.svg"))
   body.body-policy 
      include ../sections/header
      include ../sections/police-privacy
      include ../sections/footer
      .cursor-dot-outline 
      .cursor-dot