@media (max-width: 1690px) {
   .header__container,
   .promo__container,
   .advantages__container,
   .products__container,
   .about__container,
   .delivery__container,
   .contacts__container,
   .footer__container {
      padding: 26px 60px;
   }
}
@media (max-width: 1440px) {
   .header__container,
   .promo__container,
   .advantages__container,
   .products__container,
   .about__container,
   .delivery__container,
   .contacts__container,
   .footer__container {
      padding: 26px 60px;
   }
}

@media (max-width: 1040px) {
   .header__container,
   .promo__container,
   .advantages__container,
   .products__container,
   .about__container,
   .delivery__container,
   .contacts__container,
   .footer__container {
      padding: 26px 40px;
   }
}

@media (max-width: 490px) {
   .header__container,
   .promo__container,
   .advantages__container,
   .products__container,
   .about__container,
   .delivery__container,
   .contacts__container,
   .footer__container {
      padding: 26px 20px;
   }
}

@media (max-width: 1040px) {
   .advantages__container,
   .about__container,
   .contacts__container {
      gap: 70px;
   }
}

@media (max-width: 780px) {
   .advantages__container,
   .about__container,
   .contacts__container {
      gap: 60px;
   }
}

@media (max-width: 1040px) {
   .delivery__container {
      gap: 40px;
   }
}

@media (max-width: 768px) {
   .delivery__container {
      gap: 60px;
   }
}

@media (max-width: 780px) {
   .products__container {
      gap: 100px;
   }
}

@media (max-width: 1440px) {
   .advantages__title,
   .products__title,
   .about__title,
   .delivery__title,
   .contacts__title {
      font-size: 36px;
   }
}

@media (max-width: 1240px) {
   .advantages__title,
   .products__title,
   .about__title,
   .delivery__title,
   .contacts__title {
      font-size: 32px;
   }
}

@media (max-width: 1040px) {
   .advantages__title,
   .products__title,
   .about__title,
   .delivery__title,
   .contacts__title {
      font-size: 26px;
   }
}

@media (max-width: 768px) {
   .advantages__title,
   .products__title,
   .about__title,
   .delivery__title,
   .contacts__title {
      font-size: 24px;
   }
}

@media (max-width: 1040px) {
   .contacts__title {
      margin-bottom: 30px;
   }
}

@media (max-width: 1040px) {
   .wrapper__promo {
      height: auto;
   }
}

@media (max-width: 640px) {
   .wrapper__promo {
      gap: 0px;
   }
}

@media (max-width: 1440px) {
   .promo__container {
      position: relative;
      margin-top: 35px;
      padding-bottom: 90px !important;
   }
}

@media (max-width: 1040px) {
   .promo__container {
      margin-top: 0px;
      padding-bottom: 80px !important;
   }
}

@media (max-width: 640px) {
   .promo__container {
      flex-direction: column-reverse;
      gap: 30px;
      position: relative;
      top: -30px;
   }
}

@media (max-width: 1040px) {
   .promo {
      position: relative;
      bottom: 0vh;
   }
}

@media (max-width: 1440px) {
   .header__nav-list {
      width: 76%;
   }
}

@media (max-width: 1240px) {
   .header__nav {
      width: 76%;
   }
}

@media (max-width: 1040px) {
   .header__burger {
      display: block;
   }
}

@media (max-width: 1040px) {
   .header__nav {
      position: fixed;
      top: 0;
      left: 100vw;
      width: 80%;
      height: 100%;
      background: #fff;
      z-index: 2000;
      transition: left 0.3s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow-x: hidden;
   }
}

@media (max-width: 1040px) {
   .header__nav {
      gap: 40px;
      align-items: center;
   }
}

@media (max-width: 490px) {
   .header__nav {
      width: 98%;
   }
}

@media (max-width: 1040px) {
   .header__nav-list {
      flex-direction: column;
      align-items: center;
      gap: 20px;
   }
}

@media (max-width: 1040px) {
   .header__nav-link {
      font-size: 20px;
   }
}

@media (max-width: 1040px) {
   .header__logo,
   .footer__logo {
      width: 176px;
      color: $brown;
      font-family: "Appetite";
      font-size: 20px;
   }
}

@media (max-width: 1440px) {
   .promo__inner {
      gap: 50px;
   }
}

@media (max-width: 1040px) {
   .promo__inner {
      gap: 40px;
   }
}

@media (max-width: 768px) {
   .promo__inner {
      gap: 26px;
   }
}

@media (max-width: 640px) {
   .promo__inner {
      align-items: center;
      width: 98%;
      padding-bottom: 130px;
   }
}

@media (max-width: 1440px) {
   .promo__title {
      font-size: 56px;
   }
}

@media (max-width: 1240px) {
   .promo__title {
      font-size: 48px;
   }
}

@media (max-width: 1040px) {
   .promo__title {
      font-size: 42px;
   }
}

@media (max-width: 768px) {
   .promo__title {
      font-size: 40px;
   }
}

@media (max-width: 490px) {
   .promo__title {
      font-size: 34px;
   }
}

@media (max-width: 390px) {
   .promo__title {
      font-size: 30px;
   }
}

@media (max-width: 1440px) {
   .promo__subtitle {
      font-size: 22px;
      width: 500px;
   }
}

@media (max-width: 1040px) {
   .promo__subtitle {
      font-size: 18px;
      width: 400px;
   }
}

@media (max-width: 768px) {
   .promo__subtitle {
      font-size: 18px;
      width: 340px;
   }
}

@media (max-width: 640px) {
   .promo__subtitle {
      width: 100%;
      text-align: center;
   }
}

@media (max-width: 490px) {
   .promo__subtitle {
      font-size: 16px;
   }
}

@media (max-width: 1440px) {
   .promo__image {
      width: 50%;
   }
}

@media (max-width: 1240px) {
   .promo__image {
      position: relative;
      right: -8vw;
      width: 50%;
   }
}

@media (max-width: 1040px) {
   .promo__image {
      right: 2vw;
      width: 66%;
   }
}

@media (max-width: 768px) {
   .promo__image {
      right: 2vw;
      width: 68%;
   }
}

@media (max-width: 640px) {
   .promo__image {
      right: auto;
      width: 64%;
   }
}

@media (max-width: 490px) {
   .promo__image {
      right: auto;
      width: 90%;
   }
}

@media (max-width: 640px) {
   .promo__button {
      padding: 18px 50px;
   }
}

@media (max-width: 640px) {
   .promo__drip svg {
      width: 144px;
      height: 88px;
   }
}

@media (max-width: 1040px) {
   .promo__image-bee001 {
      top: 30px;
   }
}

@media (max-width: 768px) {
   .promo__image-bee001 {
      top: 30px;
   }
}

@media (max-width: 640px) {
   .promo__image-bee001 {
      top: 20px;
      width: 120px;
   }
}

@media (max-width: 490px) {
   .promo__image-bee001 {
      display: none;
   }
}

@media (max-width: 1440px) {
   .advantages__description {
      width: 345px;
   }
}

@media (max-width: 1440px) {
   .advantages__list {
      left: -100px;
   }
}

@media (max-width: 1240px) {
   .advantages__list {
      left: -100px;
   }
}

@media (max-width: 1040px) {
   .advantages__list {
      left: -120px;
      gap: 20px;
   }
}

@media (max-width: 1240px) {
   .advantages__image {
      width: 440px;
   }
}

@media (max-width: 1040px) {
   .advantages__image {
      width: 340px;
   }
}

@media (max-width: 768px) {
   .advantages__image {
      display: none;
   }
}

@media (max-width: 1240px) {
   .advantages__description {
      width: 340px;
   }
}

@media (max-width: 1040px) {
   .advantages__description {
      width: 300px;
   }
}

@media (max-width: 460px) {
   .advantages__description {
      width: 300px;
      align-items: center;
   }
}

@media (max-width: 460px) {
   .advantages__text {
      text-align: center;
   }
}

@media (max-width: 1240px) {
   .advantages__item {
      gap: 4px;
   }
}

@media (max-width: 460px) {
   .advantages__item {
      flex-direction: column;
      gap: 10px;
   }
}

@media (max-width: 1240px) {
   .advantages,
   .products,
   .delivery,
   .contacts {
      margin-top: 100px;
   }
}

@media (max-width: 1040px) {
   .advantages,
   .delivery,
   .contacts {
      margin-top: 60px;
   }
}

@media (max-width: 490px) {
   .about {
      background-position: center right;
   }
}

@media (max-width: 768px) {
   .advantages {
      margin-top: 0px;
   }
}

@media (max-width: 1040px) {
   .advantages__icon-wrapper {
      width: 100px;
      height: 85px;
   }
}

@media (max-width: 1040px) {
   .advantages__icon {
      width: 50px;
      height: 50px;
   }
}

@media (max-width: 1040px) {
   .advantages__item:nth-child(3) {
      left: 140px;
   }
}

@media (max-width: 1040px) {
   .advantages__item:nth-child(even) {
      left: 70px;
   }
}

@media (max-width: 768px) {
   .advantages__item:nth-child(3) {
      left: 0px;
   }
}

@media (max-width: 768px) {
   .advantages__item:nth-child(even) {
      left: 0px;
   }
}

@media (max-width: 768px) {
   .advantages__list {
      left: auto;
   }
}

@media (max-width: 768px) {
   .advantages__bg-honey {
      right: 0px;
      width: 100px;
   }
}

@media (max-width: 440px) {
   .advantages__bg-honey {
      display: none;
   }
}

@media (max-width: 768px) {
   .advantages__bg-bee {
      top: 80px;
      right: 0px;
      width: 120px;
   }
}

@media (max-width: 1440px) {
   .products__list {
      column-gap: 3vw;
   }
}

@media (max-width: 1240px) {
   .products__list {
      column-gap: 4vw;
   }
}

@media (max-width: 1040px) {
   .products__list {
      column-gap: 8vw;
      row-gap: 8vw;
   }
}

@media (max-width: 890px) {
   .products__list {
      column-gap: 4vw;
      row-gap: 8vw;
   }
}

@media (max-width: 768px) {
   .products__list {
      justify-content: space-evenly;
      row-gap: 10vw;
   }
}

@media (max-width: 490px) {
   .products__list {
      justify-content: space-evenly;
      row-gap: 84px;
      flex-direction: column;
   }
}

@media (max-width: 1240px) {
   .hexagon-wrapper {
      width: 22vw;
   }
}

@media (max-width: 1040px) {
   .hexagon-wrapper {
      width: 26vw;
   }
}

@media (max-width: 890px) {
   .hexagon-wrapper {
      width: 30vw;
   }
}

@media (max-width: 768px) {
   .hexagon-wrapper {
      width: 32vw;
   }
}

@media (max-width: 640px) {
   .hexagon-wrapper {
      width: 40vw;
   }
}

@media (max-width: 490px) {
   .hexagon-wrapper {
      width: 260px;
   }
}

@media (max-width: 1240px) {
   .products__image {
      width: 200px;
   }
}

@media (max-width: 1040px) {
   .products__image {
      width: 190px;
   }
}

@media (max-width: 640px) {
   .products__bg-bee2,
   .products__bg-bee1,
   .contacts__bg-bee2,
   .contacts__bg-bee1 {
      width: 100px;
   }
}

@media (max-width: 490px) {
   .products__bg-bee2 {
      display: none;
   }
}

@media (max-width: 1040px) {
   .products__bg-bee1,
   .contacts__bg-bee1 {
      width: 140px;
   }
}

@media (max-width: 768px) {
   .products__bg-bee1 {
      width: 120px;
   }
}
@media (max-width: 768px) {
   .contacts__bg-bee2 {
      display: none;
   }
}

@media (max-width: 490px) {
   .products__bg-bee1 {
      top: 80px;
   }
}

@media (max-width: 640px) {
   .products__bg-honey,
   .contacts__bg-bee1 {
      width: 80px;
   }
}

@media (max-width: 1040px) {
   .about__description {
      width: 60%;
   }
}

@media (max-width: 1040px) {
   .about__image-wrapper {
      width: 45%;
   }
}

@media (max-width: 1040px) {
   .about__content {
      gap: 5%;
   }
}

@media (max-width: 768px) {
   .about__content {
      flex-direction: column-reverse;
      gap: 30px;
   }
}

@media (max-width: 768px) {
   .about__description {
      width: 80%;
      gap: 12px;
   }
}

@media (max-width: 490px) {
   .about__description {
      width: 90%;
      gap: 12px;
   }
}

@media (max-width: 768px) {
   .about__text {
      text-align: center;
   }
}

@media (max-width: 768px) {
   .about__image-wrapper {
      width: 60%;
   }
}

@media (max-width: 490px) {
   .about__image-wrapper {
      width: 80%;
   }
}

@media (max-width: 768px) {
   .about__title {
      padding-top: 20px;
   }
}

@media (max-width: 1240px) {
   .delivery__list {
      justify-content: center;
   }
}

@media (max-width: 1240px) {
   .delivery__text {
      font-size: 18px;
      width: 180px;
   }
}

@media (max-width: 1240px) {
   .delivery__icon-wrapper {
      width: 108px;
      height: 126px;
   }
}

@media (max-width: 768px) {
   .delivery__icon-wrapper {
      width: 102px;
   }
}

@media (max-width: 490px) {
   .delivery__icon-wrapper {
      width: 82px;
      height: 92px;
   }
}

@media (max-width: 1240px) {
   .delivery__icon {
      width: 80px;
      height: 70px;
   }
}

@media (max-width: 768px) {
   .delivery__icon {
      width: 60px;
      height: 50px;
   }
}

@media (max-width: 1240px) {
   .delivery__item {
      gap: 10px;
   }
}

@media (max-width: 768px) {
   .delivery__item {
      width: 40%;
   }
}

@media (max-width: 1240px) {
   .delivery__item:nth-child(2) {
      top: 60px;
   }
}

@media (max-width: 1240px) {
   .delivery__item:nth-child(3) {
      top: 60px;
   }
}

@media (max-width: 1040px) {
   .delivery__list {
      width: 80%;
   }
}

@media (max-width: 768px) {
   .delivery__list {
      width: 100%;
      flex-wrap: wrap;
      gap: 30px;
   }
}

@media (max-width: 490px) {
   .delivery__list {
      padding-bottom: 70px !important;
   }
}

@media (max-width: 1040px) {
   .delivery__text {
      width: 150px;
      font-size: 16px;
   }
}

@media (max-width: 768px) {
   .delivery__item:nth-child(2) {
      top: 0;
   }
}

@media (max-width: 768px) {
   .delivery__item:nth-child(3) {
      top: 0;
   }
}

@media (max-width: 1240px) {
   .delivery__bg-blum {
      width: 150px;
   }
}

@media (max-width: 1240px) {
   .about__bg-blum {
      width: 110px;
   }
}

@media (max-width: 768px) {
   .delivery__bg-blum {
      width: 110px;
   }
}

@media (max-width: 490px) {
   .delivery__bg-blum {
      width: 90px;
   }
}

@media (max-width: 768px) {
   .about__bg-blum {
      width: 90px;
   }
}

@media (max-width: 490px) {
   .about__bg-blum {
      display: none;
   }
}

@media (max-width: 768px) {
   .about__title::after {
      content: "";
      background-image: url("../images/icons/bees/about-bee-bg.svg");
      height: 36px;
      width: 36px;
      background-size: contain;
      display: inline-block;
      position: absolute;
      margin-left: 10px;
   }
}

@media (max-width: 768px) {
   .delivery__title::before {
      content: "";
      background-image: url("../images/icons/bees/delivery-bee-bg.svg");
      height: 43px;
      width: 102px;
      background-size: contain;
      display: inline-block;
      position: absolute;
      left: -10%;
      top: -35px;
   }
}

@media (max-width: 1040px) {
   .contacts__address br {
      display: none;
   }
}

@media (max-width: 1040px) {
   .contacts__map iframe {
      height: 300px !important;
   }
}

@media (max-width: 1040px) {
   .contacts__list {
      width: 160px;
   }
}

@media (max-width: 1040px) {
   .contacts__icon {
      width: 34px;
   }
}

@media (max-width: 768px) {
   .contacts__container {
      flex-direction: column;
      align-items: center;
   }
}

@media (max-width: 768px) {
   .contacts__map {
      width: 100vw;
   }
}

@media (max-width: 768px) {
   .contacts__map iframe {
      border-radius: 0;
   }
}

@media (max-width: 768px) {
   .contacts__content {
      width: 100%;
      align-items: center;
   }
}

@media (max-width: 768px) {
   .contacts__address br {
      display: inline;
   }
}

@media (max-width: 768px) {
   .contacts__address {
      align-items: center;
   }
}

@media (max-width: 768px) {
   .contacts__info {
      align-items: center;
   }
}

@media (max-width: 768px) {
   .contacts__address p {
      text-align: center;
      font-size: 18px;
   }
}

@media (max-width: 768px) {
   .footer {
      margin-top: 0px;
   }
}

@media (max-width: 1040px) {
   .footer__container {
      flex-wrap: wrap;
   }
}

@media (max-width: 768px) {
   .footer__container {
      gap: 30px;
      flex-direction: column;
      align-items: center;
   }
}

@media (max-width: 768px) {
   .footer__svg-top {
      display: none;
   }
}

@media (max-width: 768px) {
   .contacts__container {
      padding-bottom: 0;
   }
}

@media (max-width: 768px) {
   .footer__contacts {
      align-items: center;
      gap: 10px;
      font-size: 18px;
   }
}

@media (max-width: 768px) {
   .footer__branding {
      gap: 16px;
   }
}

@media (max-width: 768px) {
   .footer__disclaimer {
      order: 1;
      width: 100%;
   }
}

@media (max-width: 768px) {
   .footer__credits-text {
      text-align: center;
      display: inline-block;
   }
}


#modal {
   // display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   justify-content: center;
   align-items: center;
   z-index: 1000;
   opacity: 0.2;
   visibility: hidden;
   transition:
      visibility 0s,
      opacity 0.5s linear;

   .modal-container {
      background: $bg-bege;
      padding: 100px;
      width: 90%;
      max-width: 900px;
      height: 650px;
      border-radius: 20px;
      position: relative;
      background-image: url("../images/bg/modal-bg.svg");

      @media (max-width: 1040px) {
         width: 100%;
         height: 100%;
         border-radius: 0;
      }

      .modal-close {
         position: absolute;
         top: 40px;
         right: 40px;
         z-index: 2000;
         cursor: pointer;
         background-image: url("../images/icons/burger-close.svg");
         height: 24px;
         width: 24px;
      }

      .modal-title {
         text-align: center;
         margin-bottom: 60px;
      }

      .form-group,
      .form-checkbox {
         margin-bottom: 20px;
      }
      .form-checkbox {
         display: flex;
         align-items: center;
         gap: 10px;
      }

      label {
         display: block;
         margin-bottom: 5px;
      }

      input[type="text"],
      input[type="tel"],
      input[type="checkbox"] {
         width: 100%;
         padding: 18px;
         padding-left: 40px;
         margin-bottom: 10px;
         border: 1px solid $brown;
         border-radius: 50px;
         background: $bg-bege;
         color: $brown;
         font-size: 20px;
      }
      input[type="checkbox"] {
         width: auto;
         margin-bottom: 0;
      }

      .modal-submit {
         // width: 30%;
         padding: 20px 44px;
         border: none;
         background: $brown;
         color: $bg-bege;
         border-radius: 50px;
         cursor: pointer;
      }
      .modal-submit:hover {
         background: $yellow;
         color: $brown;
         transition: color 0.2s ease-in-out;
      }
   }
}

@media (max-width: 1040px) {
   .modal-title {
      margin-bottom: 10px;
      font-size: 32px;
   }
}
@media (max-width: 490px) {
   .modal-title {
      margin-bottom: 10px;
      font-size: 26px;
   }
}
@media (max-width: 1040px) {
   #modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
      z-index: 20000;
      opacity: 0.2;
      visibility: hidden;
      transition:
         visibility 0s,
         opacity 0.5s linear;
}
}
@media (max-width: 1040px) {
   #modal .modal-submit {
      width: 90%;
      padding: 20px 44px;
      border: none;
      background: $brown;
      color: $bg-bege;
      border-radius: 50px;
      cursor: pointer;
   }
}

@media (max-width: 1040px) {
   #modal .modal-container {
      background: $bg-bege;
      padding: 100px 10px 60px;
      margin: 0;
      position: relative;
      width: 100vw;
      height: 100vh;
      border-radius: 0;
      overflow-x: hidden;
   }
}

@media (max-width: 1040px){
   #modal .modal-container input[type="text"],
   #modal .modal-container input[type="tel"],
   #modal .modal-container input[type="checkbox"] {
      width: 90%;
      padding: 14px;
      padding-left: 40px;
      margin-bottom: 10px;
      border: 1px solid $brown;
      border-radius: 50px;
      background: $bg-bege;
      color: $brown;
      font-size: 20px;
   }
   input[type="checkbox"] {
      width: 90%;
      margin-bottom: 0;
   }
}

@media (max-width: 1040px){}
