@media (max-width: 1640px) {
   .header__container{
      padding: 26px 60px;
   }
}
@media (max-width: 1440px) {
   .header__container{
      padding: 26px 60px;
   }
}

@media (max-width: 1040px) {
   .header__container{
      padding: 26px 40px;
   }
}