@import "vars";
@import "reset";
@import "fonts";
@import "global";

.wrapper__promo {
   position: relative;
   background-image: url("../images/bg/promo-bg.svg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center bottom;
   display: flex;
   flex-direction: column;
}

.header {
   &__container {
      justify-content: space-between;
      position: relative;
      z-index: 2001;
   }
   &__logo {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      width: 200px;
      color: $brown;
      font-family: "Appetite";
      font-size: 24px;
   }
   &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      &-list {
         display: flex;
         width: 70%;
         justify-content: space-between;
      }
      &-link {
         color: $brown;
         font-weight: 500;
         transition: color 0.3s ease-in-out;
      }
      &-item:hover {
         transition: transform 0.15s linear;
         transform: perspective(1000px) scale(1.02);
      }
      &-link:hover {
         color: $light-brown;
         font-weight: 500;
         cursor: pointer;
      }
   }
   &__burger {
      position: absolute;
      top: 40px;
      right: 20px;
      z-index: 2000;
      cursor: pointer;
      background-image: url("../images/icons/burger-menu.svg");
      height: 23px;
      width: 30px;
      display: none;
   }

   &__close {
      position: absolute;
      top: 40px;
      right: 20px;
      z-index: 2000;
      cursor: pointer;
      background-image: url("../images/icons/burger-close.svg");
      height: 24px;
      width: 24px;
      display: none;
   }
}

.dim-background {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(255, 211, 78, 0.5);
   z-index: 1999;
}

.promo {
   margin-top: 10px;
   &__container {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 400;
      padding-bottom: 100px !important;
   }
   &__inner {
      display: flex;
      flex-direction: column;
      gap: 66px;
      align-items: start;
   }
   &__title {
      font-family: "Appetite";
      font-size: 60px;
      font-weight: 400;
      line-height: 120%;
   }
   &__subtitle {
      width: 566px;
      font-size: 24px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0.26px;
   }
   &__button {
      color: $brown;
      font-weight: 600;
      padding: 23px 63px;
      background-color: $yellow;
      border: none;
      position: relative;
      border-radius: 50px;
      cursor: pointer;
      outline: none;
      box-shadow: 2px 2px 4px 0px rgba(89, 43, 2, 0.2);
      transition: background-color 0.3s;
      z-index: 2;
   }
   &__drip {
      position: absolute;
      top: 96%;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
   }
   &__button:hover {
      transition: transform 0.15s linear;
      transform: perspective(1000px) scale(1.05);
   }
}

.promo__image-bee001 {
   position: absolute;
   top: 24vh;
}

.advantages {
   position: relative;
   margin-top: 160px;
   &__container {
      flex-direction: column;
      justify-content: center;
      gap: 100px;
   }
   &__title {
      text-align: center;
   }
   &__inner {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__list {
      display: flex;
      flex-direction: column;
      gap: 30px;
      position: relative;
      left: -10px;
   }
   &__item {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      align-items: center;
      position: relative;
   }
   &__description {
      width: 380px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-weight: 800;
   }
   &__icon-wrapper {
      width: 120px;
      height: 102px;
      position: relative;
      background-image: url("../images/icons/advantages/hexagon.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__text {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
   }
   &__bg {
      position: absolute;
      &-bee {
         top: 20px;
         right: 0px;
         transform: rotate(20deg);
      }
      &-honey {
         bottom: 20px;
         right: 0px;
      }
   }
}

.advantages__item:nth-child(3) {
   left: 180px;
}

.advantages__item:nth-child(even) {
   left: 90px;
}

.products {
   margin-top: 160px;
   position: relative;
   &__container {
      flex-direction: column;
      align-items: center;
      gap: 140px;
   }
   &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 5vw;
      row-gap: 2vw;
   }
   &__item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   &__card {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      top: -50px;
      gap: 15px;
   }
   &__about {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
   }
   &__image {
      position: relative;
      z-index: 1;
   }
   &__shadow {
      position: absolute;
      width: 96px;
      height: 30px;
      background: linear-gradient(180deg, #975607 0%, #452101 178.95%);
      opacity: 0.4;
      filter: blur(15px);
      z-index: 0;
      bottom: 110px;
   }
   &__weight {
      font-size: 0.9em;
   }
   &__price {
      font-weight: 600;
   }
   &__bg {
      position: absolute;
      &-bee1 {
         top: 20px;
         left: 0px;
         transform: rotate(-10deg);
      }
      &-bee2 {
         bottom: 50px;
         right: 0px;
         transform: rotate(14deg);
      }
      &-honey {
         bottom: 20px;
         left: 0;
         transform: rotate(-24deg);
      }
   }
}

.hexagon-wrapper {
   position: absolute;
   width: 300px;
   height: auto;
   display: inline-block;

   .hexagon-svg {
      width: 100%;
      height: 100%;
      fill: #fffad5;
      filter: drop-shadow(0px 2px 6px rgba(110, 140, 3, 0.2));
   }
}

.about {
   margin-top: 80px;
   position: relative;
   background-image: url("../images/bg/about-bg.svg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   height: auto;
   &__container {
      flex-direction: column;
      align-items: center;
      gap: 100px;
      padding-bottom: 100px;
   }
   &__title {
      position: relative;
      padding-top: 40px;
   }
   &__title::after{
      content: '';
      background-image: url("../images/icons/bees/about-bee-bg.svg");
      height: 48px;
      width: 48px;
      display: inline-block;
      position: absolute;
      margin-left: 10px;
   }
   &__content {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      gap: 100px;
   }
   &__description {
      width: 540px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-weight: 500;
      line-height: 130%;
   }
   &__image-wrapper {
   }
   &__svg-top {
      display: block;
      width: 100%;
   }
   &__svg-bottom {
      position: relative;
      display: block;
      bottom: 0;
   }
   &__bg {
      position: absolute;
      &-blum {
         bottom: 0;
         left: 0;
      }
   }
}

.delivery {
   margin-top: 160px;
   position: relative;
   &__container {
      flex-direction: column;
      align-items: center;
      gap: 80px;
   }
   &__list {
      width: 78%;
      display: flex;
      justify-content: space-between;
      padding-bottom: 100px !important;
   }
   &__title{
      position: relative;
   }
   &__title::before{
      content: '';
      background-image: url("../images/icons/bees/delivery-bee-bg.svg");
      height: 51px;
      width: 124px;
      display: inline-block;
      position: absolute;
      left: -10%;
      top: -35px;
   }
   &__item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
   }
   &__icon-wrapper {
      background-image: url("../images/icons/delivery/delivery-bg-card.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 140px;
   }
   &__text {
      text-align: center;
      width: 200px;
      font-size: 22px;
      font-weight: 600;
      line-height: 130%;
   }
   &__bg {
      position: absolute;
      &-blum {
         bottom: 0;
         right: 0;
      }
   }
}

.delivery__item:nth-child(2) {
   top: 80px;
}

.delivery__item:nth-child(3) {
   top: 80px;
}

@import "mobile";
